.SafeCracker {
    position: relative;
    width: 100vw;
    height: 100vh;
    --header-height: 100px;
    --code-area-height: 100px;
    --max-width: 1600px;
    --side-padding: 20px;
}

.SafeCracker-header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e9e9e9;
    width: 100%;
    height: var(--header-height);
    border-bottom: 1px #c4c4c4 solid;
}

.SafeCracker-body {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--header-height);
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    --top-padding: 20px;
}

.SafeCracker-tasklist {
    background-color: #919191;
    flex: 1;
    overflow-y: auto;
    padding-top: var(--top-padding)
}

.SafeCracker-task {
    position: relative;
    flex: 3;
    padding-bottom: var(--code-area-height);
}

.SafeCracker-description {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: var(--top-padding) var(--side-padding);
}

.SafeCracker-code {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--code-area-height);
    border-top: 1px #c4c4c4 solid;
}
