.SafeCracker {
    position: relative;
    width: 100vw;
    height: 100vh;
    --header-height: 100px;
    --code-area-height: 100px;
}

.SafeCracker-header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #8b9591;
    width: 100%;
    height: var(--header-height);
}

.SafeCracker-body {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: var(--header-height);
}

.SafeCracker-tasklist {
    background-color: #c7cbc8;
    flex: 1;
    overflow-y: auto;
}

.SafeCracker-task {
    position: relative;
    flex: 3;
    padding-bottom: var(--code-area-height);
}

.SafeCracker-description {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.SafeCracker-code {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #8b9591;
    width: 100%;
    height: var(--code-area-height);
}
