.Task-placeholder {
    font-style: italic;
}

.Task-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 25px;
}

.Task-blockimg img {
    width: 100%;
}

.plotly-notifier {
    font-family: inherit !important;
    top: 70px !important;
    right: 50px !important;
}

.plotly-notifier .notifier-note {
    background-color: white !important;
    color: black !important;
    border: 1px black solid !important;
}
