.TaskList-item {
    position: relative;
    padding: var(--content-padding);
    padding-left: calc(var(--content-padding) + var(--state-width));
    border-bottom: 1px var(--border-color) solid;
    cursor: pointer;
    --state-width: 15px;
}

.TaskList-item:hover, .TaskList-item-selected {
    background-color: var(--body-color);
}

.TaskList-item-title {
    font-weight: bold;
}

.TaskList-item-points {
    color: gray;
    margin-top: 5px;
}

.TaskList-item-state {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--state-width);
    height: 100%;
}

.TaskList-item-state-open {
    background-color: var(--taskstate-open);
}

.TaskList-item-state-solved {
    background-color: var(--taskstate-solved);
}

.TaskList-item-state-second-chance {
    background-color: var(--taskstate-second-chance);
}

.TaskList-item-state-blocked {
    background-color: var(--taskstate-blocked);
}