.Task-placeholder {
    font-style: italic;
}

.Task-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 25px;
}

.Task-blockimg img {
    width: 100%;
}

.plotly-notifier {
    font-family: inherit;
    top: 70px;
    right: 50px;
}

.plotly-notifier .notifier-note {
    background-color: white;
    color: black;
    border: 1px black solid;
}
